.container {
    background-color: white;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.image {
    width: 3rem;
    height: 3rem;
}

.name_block {
    text-align: left;
    margin-left: 1rem;
}

.name_block .name {
    font-weight: 600;
    font-size: 1rem;
}

.nutrients {
    margin-left: auto;
    text-align: left;
    padding-right: 1rem;
}

.nutrients p {
    font-size: 0.75rem;
}
