.container {
    background-color: white;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.image {
    width: 3rem;
    height: 3rem;
} 

.name_block {
    text-align: left;
    margin-left: 1rem;
}

.name_block .name {
    font-weight: 600;
    font-size: 1rem;
}

.choices {
    margin-left: auto;
    text-align: left;
    padding-right: 1rem;
}

.choices p {
    font-size: 0.75rem;
    text-align: center;
}

.choices .price {
    font-weight: 600;
    font-size: 1rem;
}

.counter input {
    width: 4rem;
    height: 2rem;
    margin-right: 1rem;
    padding: 10px;
}

